.list-card-holder{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px;
    height: 700px;
    background-color: rgb(253, 240, 215);

    
}

li{
    list-style-type: none;
}

.single-card-holder{
    margin-right: auto;
}